body {
    font-family: 'Roboto Slab', serif;
    margin: 0%;
    background-image: url(560.jpeg);

    background-position: center;
}

h1 {
    font-size: 50px;
    padding-left: 5%;
    color: aliceblue;
}

.greenish {
    color: rgb(107, 163, 22);
}

.flex-container {
    display: flex;
}

.half-width img {
    width: 70%;
    padding-top: 30px;
}

.half-width {
    padding-left: 5%;
    padding-bottom: 5%;
    color: aliceblue;
}

.Experience-Item {
    /* box-shadow: 10px 10px 50px grey; */
    width: 40%;
    margin-right: 5%;
    margin-left: 5%;
    padding-left: 2%;
    padding-right: 2%;
    color: aliceblue;
    border: 1px solid gray;

}

.Experience-Item:hover {
    box-shadow: 10px 10px 50px grey;
    /* width: 40%;
    margin-right: 5%;
    margin-left: 5%;
    padding-left: 2%;
    padding-right: 2%;
    color: aliceblue;
    cursor: pointer; */
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(green, lightgreen);
    padding: 10px 40px;
    border-radius: 10px;
    color: aliceblue;
}

.top-bottom {
    /* background-image: url(342.webp);
    background-repeat: no-repeat; */
    background-size: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
}

.future {
    /* background-image: url(560.jpeg);
    background-repeat: no-repeat; */
    background-size: 100%;
    border-radius: 10px;
}

.Experience {
    /* background-image: url(560.jpeg);
    background-repeat: no-repeat; */
    background-size: 100%;
    border-radius: 10px;
}

footer p {
    text-align: center;
}